body
{
	background:url(../img/back2.png);
}

.container-fluid{
	padding-top: 50px;
}

.sidebar-nav-fixed{
	position:fixed;
    top:60px;
    width:18%;
}

/*
	Hashtagged links not showing up (navbar)
*/
section:before {
  display: block;
  content: " ";
  margin-top: -40px;
  height: 40px;
  visibility: hidden;
}

@media (max-width: 767px) {
	.sidebar-nav-fixed {
		width: auto;
	}
}

@media (max-width: 979px) {
	.sidebar-nav-fixed {
		position: static;
		width: auto;
	}
}

.bar-order
{
	margin-top: -20px;
	margin-bottom: -20px;
}

/*
	'Hack' for fixing the thumbnails list
*/

ul.thumbnails li.span4:nth-child(3n + 4) {
  /*margin-left : 0px;*/
}

ul.thumbnails li.span3:nth-child(4n + 5) {
  /*margin-left : 0px;*/
}

ul.thumbnails li.span12 + li {
  /*margin-left : 0px;*/
}

/*
	Styles for the members
*/
.gallery-box{
	/*float: left;*/
	position: relative;
	/*padding-top: 50px;*/
}

.gallery-item{
}



